@use './hubMap';
@import '../twine/theme';

#hud {
    align-items: center;
    background: $background-color;
    border-style: none solid solid solid;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    max-width: 65em;
    position: sticky;
    top: 0px;
    z-index: 50;
}

.hudItem {
    display: flex;
    flex: 1;
    padding: 0 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.left {
        justify-content: end;
    }

    &.right {
        justify-content: start;
    }
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -90px;
    cursor: pointer;
    width: 75px;
    height: 35px;

    background-color: $background-color;

    &:hover {
        background-color: $hover-color;
    }
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
        display: flex;
        border: 1px solid $hover-color;
        padding: 10px 5px;
        justify-content: center;
        margin: 5px 0px;

        >div {
            text-transform: uppercase;
        }

        &:hover {
            cursor: pointer;

            background-color: $hover-color;
        }
    }
}

.menu-version {
    text-align: right;
}

#ui-bar {
    display: none;
}