@use './hubMap';
@import '../twine/theme';

#hud {
    align-items: center;
    background: $background-color;
    border-style: none solid solid solid;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    max-width: 65em;
    position: sticky;
    top: 0px;
    z-index: 50;
}

.hudItem {
    display: flex;
    flex: 1;
    padding: 0 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.left {
        justify-content: end;
    }

    &.right {
        justify-content: start;
    }
}